<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %} <!-- New line -->


{% block title %}About page{% endblock %}

{% block body_block %}
<div id="AboutPage>
    <div id="Heading">
        <h1>About the Systematic Review Web Application</h1>
    </div>
    <div id="Text">
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
        <p>This is a web application which allows its users to perform systematic reviews using the PubMed API provided by the NCBI.</p>
	<p>It was developed in 2016 by group A from lab 3 as their WAD2 project.</p>
    </div>
	<p>The team consisted of:</p>
        <button class="abhide">Show</button>
	<li class="abname">Blagovest Tchasovnikarov</li>
	<li class="abname">Borislav Gachev</li>
	<li class="abname">Dafin Kozarev</li>
	<li class="abname">Kavisha Jayathunge</li>
</div>
{% endblock %}