{% extends "base.html" %}

{% load staticfiles %}



{% block title %}Search{% endblock %}

{% block body_block %}

<form id="IndexSearch" class="form-horizontal" data-dbm="false" method="POST" action="{%url 'results' %}">
	{% csrf_token %}
	<div class="col-md-8">	
	<div class="">
		<h3 class="inline">Builder</h3>
	</div>
	<div class="form-group">
		<div class="input-group">
			<input type="text"  class="form-control" id = "txtOutput" name="txtOutput" placeholder="Use the fields below to build your query" aria-label="..." readonly />
			<span class="input-group-addon" id="resultCount"></span>
		</div>
	</div>
	<br>
	<div class="sb_line">
		<label for="fop_0" class="offscreen_noflow">Select Operation</label>

		<label for="ff_0" class="offscreen_noflow">Select Field</label>
		<div class="input_wrap">
			<label for="fv_1" class="offscreen_noflow">Field Value</label>
			<input id="fv_1" type="text" size="50" class="list_term_text jig-ncbiautocomplete" autocomplete="off" submit="false" />
			<input type="button" id="add_more_terms" class="add_line btn" href="#" title="Add new builder line" value="Add new line"/>
		</div>
	</div>
	<div class="whole_rhythm clear">
		<button class="btn btn-default" type="submit">Search</button>
	</div>
	</div>
</form>
    {% endblock %}