{% extends "base.html" %}


{% block body_block %}
<h1>Create a Review:</h1>
        <form id="rev_form" class="form-horizontal" method="post" action="." name = "rev_form" enctype="multipart/form-data">
		<fieldset>
        {% csrf_token %}
		{% load widget_tweaks %}
        <div class="col-lg-6">
             <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
            <div class="form-group">
                    <label for="rev_form">Title:</label>
                    <div class="input-group">
                        {% if rev_form.reviewTitle.errors%}
                            {{rev_form.reviewTitle|add_class:"alert-danger form-control"}}
                            <span class="alert alert-danger input-group-addon">
                            <span class="glyphicon glyphicon-remove"></span>
                        {% else %}
                            {{rev_form.reviewTitle|add_class:"form-control"}}
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-asterisk"></span>

                        {%endif%}
                        </span>

                    </div>
                </br>
                    {% if reqPost == False %}
                    <input type="submit" name="rev_form" id="submit" value="Create" class="btn btn-info center-block"></input>
                    {% endif %}
            </div>
            
        </div>
		</fieldset>
		</form>
        {% if reqPost %}
        <form id="rev_form" class="form-horizontal" method="post" action="/sysrev_app/new_review/" name = "rev_form" enctype="multipart/form-data">
            <fieldset>
            {% csrf_token %}
            <div class="col-lg-6">
                <input type="submit" name="rev_form" id="submit" value="Build Query" class="btn btn-info center-block"></input>
            </div>
            </fieldset>
        </form>
        {% endif %}
{% endblock %}