<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %} <!-- New line -->





{% block title %}Document Pool{% endblock %}

{% block body_block %}

        <h1>Review: {{review.reviewTitle}}</h1>
        <h2>Links to full papers</h2></br>
        <form id="SelectDocument" class="advsec index_portlet" data-dbm="false" method="POST" action="{%url 'final_results' %}">
        {% csrf_token %}
        <input type="checkbox" name="queryID" class = "hidden" value="{{query.review}}" checked>
        <button class="btn btn-default" type="submit" name >Finish Review</button></br></br>

		<div id="doc_pool" name="results">
			{% for key in results %}
			<div id="result_{{forloop.counter}}" class="displayAbstract">
				<div class="id"><b>{{key.ID}}</b></div>
				<div class="title"><b>{{key.title}}</b></div>
				<div class="date">{{key.date}}</div>
				<div class="toggleAuthors"><i>[Author Information]</i></div>
				<div class="authors" style="display:none">{{key.authors}}</div></br>
				<div class="abstract" >{{key.abstract}}</div></br>
				<a href="{{key.link}}" class="btn btn-default" style="" target="_blank">Link to the full text</a></br></br>
				<input class = "checkbox" type="checkbox" name="checks[]" id="{{forloop.counter}}"> Select Document                
				<button class="reasonButton" name = "reasons" id ="{{forloop.counter}}" value="{{forloop.counter}}">Add Reason</button>​
				<div id="popup">
				<a class="b-close">x</a>
				<strong>Provide a reason for selecting this paper.</strong><br><br>
				<br><strong>Reason:</strong><br>
				<textarea value="{{forloop.counter}}" rows="4" cols="50">Please provide a reason for approving this paper. 
				</textarea>
				</div>
				
				<br><br>
			</div>	
			{% endfor %}
		</div>

	    </form >


{% endblock %}


{%block footer_block %}
	<footer class="footer">
		<div class="container">
         <nav>
		 <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </nav>
	    </div>
    </footer>
{%endblock%}