{% extends "base.html" %}
{% load smart_if %}
{% load staticfiles %}

{% block title %} Edit Review {% endblock %}
<link href="{% static "center-text.css" %}" rel="stylesheet">


     {% block body_block %}
     {% if user.is_authenticated %}


<style type="text/css">
#button {display:inline-block;margin-right:10px;} 
#status {display:inline-block;margin-right:10px;}
#link {display:inline-block;}
</style>

     <div class="page-header">
         <h1><b> Edit Reviews</b></h1> </br>
         {% if reviews_list|length > 0 %}
         <h3>Pick a review to edit:</h3> </br>
         {% for review in reviews_list %}
         {% if review.complete == False %}
         <div id="block_container">            
             <div id = "button"><h4> {{review.reviewTitle}} </h4></div>
             <div id = "link" ><a href="/sysrev_app/new_review/?revID={{review}}" class="btn btn-default" style="" target="_blank" >Edit</a></div>
         </div> 
         
         {% endif %}
                           
         {% endfor %}
         {% else %}
         <h3>No reviews present - please create one</h3> </br>
         {% endif %}

     {% else %}
         <h1><b>Welcome - Please sign in or register</b></h1> </br>
     {% endif %}
     </div>

{% endblock %}


