{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block body_block %}

{% load widget_tweaks %}
<div class="panel" style="padding-top: 60px;">
	<h1 class="panel-heading">Edit Profile</h1>
	<div class="panel-body">
		<!-- left column -->
		<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="text-center">
				<img src="/media/{{profile_form.picture.value}}" class="img-circle avatar img-thumbnail" alt="avatar">
				<h6>Upload a different photo...</h6>
				<!--<input type="file" class="text-center center-block well well-sm">-->
				{{ profile_form.picture|add_class:"text-center center-block well well-sm" }}
				</div>
		</div>
		<!-- edit form column -->
		<div class="col-md-8 col-sm-6 col-xs-12 personal-info">
			<h3>Personal info</h3>
			<form class="form-horizontal" role="form" id="user_form" method="post" action="/sysrev_app/edit_profile/" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<label class="col-lg-3 control-label">Username:</label>
				<div class="col-lg-8">
					{{user_form.username|add_class:"form-control"|attr:"readonly"}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Email:</label>
				<div class="col-lg-8">
					{{user_form.email|add_class:"form-control"}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Organisation:</label>
				<div class="col-lg-8">
					{{ profile_form.organization|add_class:"form-control"}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Website:</label>
				<div class="col-lg-8">
					{{ profile_form.website|add_class:"form-control"}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Password:</label>
				<div class="col-md-8">
					{{user_form.password|add_class:"form-control"}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label"></label>
				<div class="col-md-8">
					<input class="btn btn-primary" value="Save Changes" type="submit">
					<span></span>
					<input class="btn btn-default" value="Cancel" type="reset">
				</div>
			</div>
			</form>
		</div>
	</div>
</div>



{% endblock %}