<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %} <!-- New line -->


{% block title %}Review Results{% endblock %}

{% block body_block %}
        <h1>Review Results: {{review.reviewTitle}}</h1></br>
        <form id="SelectDocument" class="advsec index_portlet" data-dbm="false" method="POST" action="{%url 'actual_final_results' %}">
        {% csrf_token %}
        <input type="checkbox" name="queryID" class = "hidden" value="{{query.review}}" checked>
        <button class="btn btn-default" type="submit" name = "saveRev" >Save Review Results</button></br></br>
        <div id="results" name="results">
			{% for key in results %}
			<div id="result_{{forloop.counter}}" class="displayAbstract">
				<div class="reason"><b>Reason selected: {{key.reason}}</b></div></br>
				<div class="id"><b>{{key.ID}}</b></div>
				<div class="title"><b>{{key.title}}</b></div>
				<div class="date">{{key.date}}</div>
				<div class="toggleAuthors"><i>[Author Information]</i></div>
				<div class="authors" style="display:none">{{key.authors}}</div></br>
				<div class="abstract" >{{key.abstract}}</div></br>
				<input type="checkbox" class= "hidden" name="checks[]" value="{{forloop.counter}}" checked>
				<a href="{{key.link}}" class="btn btn-default" style="" target="_blank">Link to the full text</a><br>								
				<br><br>
			</div>	
			{% endfor %}
		</div>
		</form >
{% endblock %}


{%block footer_block %}
	<footer class="footer">
		<div class="container">
         <nav>
		 <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </nav>
	    </div>
    </footer>
{%endblock%}