{% extends "base.html" %}
{% load smart_if %}
{% load staticfiles %}

{% block title %} Index {% endblock %}
<link href="{% static "center-text.css" %}" rel="stylesheet">


     {% block body_block %}
     {% if user.is_authenticated %}


<style type="text/css">
#button {display:inline-block;margin-right:10px;} 
#status {display:inline-block;margin-right:10px;}
#link {display:inline-block;}
</style>

     <div class="page-header">
         <h1><b>Welcome, {{ user.username }}!</b></h1> </br>
         {% if reviews_list|length > 0 %}
         <h3>Here are your reviews:</h3> </br>
         {% for review in reviews_list %}
         {% if review.complete %}
         <div id="block_container">            
             <div id = "button"><h4>{{forloop.counter}}<button class="btn btn-default" style="" target="_blank" > {{review.reviewTitle}}</a></h4></div>
             <div id = "status" ><b>Complete!</b></div>
             <div id = "link" ><a href="actual_final_results/?revID={{review}}" class="btn btn-default" style="" target="_blank" >See results</a></div>
         </div> 
         {% else %} 
         <div class="block_container">
             <div id = "button"><h4>{{forloop.counter}}  <a href="/sysrev_app/results/?revID={{review}}" class="btn btn-default" style="" target="_blank" > {{review.reviewTitle}}</a></h4></div>
             <div id = "status" ><b>Ongoing...</b></div>
         </div>
         {% endif %}
                           
         {% endfor %}
         {% else %}
         <h3>No reviews present - please create one</h3> </br>
         {% endif %}

     {% else %}
         <h1><b>Welcome - Please sign in or register</b></h1> </br>
     {% endif %}
     </div>

{% endblock %}


