{% extends "base.html" %}

{% load static %}

{% block title %}Search{% endblock %}

{% block body_block %}
<div class="page-header">
	  {% for r in revList %}
	  <h1>New Review - "{{r.reviewTitle}}"</h1>
	  {% endfor %}
	  <div class="row">
	    <div class="col-lg-6">
	      <div class="input-group">
			<form id="SimpleSearch" method="POST" action="{%url 'results' %}">
			{% csrf_token %}
				<input id="txtOutput" name="txtOutput" type="text" class="form-control" placeholder="Input query here..." aria-label="...">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Novice Search <span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="{% url 'advanced' %}">Expert Search</a></li>
					</ul>
					<button class="btn btn-default" type="submit" id="wait">Search</button>
				</div><!-- /btn-group -->
			</form>
	      </div><!-- /input-group -->
	    </div><!-- /.col-lg-6 -->
	  </div>
</div>
{% endblock %}