{% extends "base.html" %}

{% load static %}

{% block title %}Search{% endblock %}

{% block body_block %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{username}}</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ med }}{{ pic }}" class="img-circle img-responsive"> 
						</div>
						<div class=" col-md-9 col-lg-9 "> 
							<table class="table table-user-information">
								<tbody>
								<tr>
									<td>Affiliation:</td>
									<td>{{organisation}}</td>
								</tr>
								<tr>
									<td>Email:</td>
									<td><a href="mailto:{{email}}">{{email}}</a></td>
								</tr>
								<tr>
									<td>Website: </td>
									<td><a href="{{website}}" target="_blank">{{website}}</a></td>
								</tr>
                     
								</tbody>
							</table>
						</div>
					</div>
				</div>
                <div class="panel-footer">
                    <a href="{%url 'edit_profile'%}" data-original-title="Edit profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    <!--<a data-original-title="Delete user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
                </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}







