{% extends "base.html" %}


{% block body_block %}
<h1>Register</h1>

        {% if registered %}
        <br /><br /><strong>Thank you for registering!</strong><br /><br />
        <a href="/sysrev_app/login/">Please login.</a><br /><a href="/sysrev_app/">Or return to the homepage.</a><br />
        {% else %}
        	<strong>Register here!</strong><br />

        <form id="user_form" class="form-horizontal" method="post" action="/sysrev_app/register/" enctype="multipart/form-data">
			<fieldset>
            {% csrf_token %}
			{% load widget_tweaks %}

            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="id_username">Username:</label>
                    <div class="input-group">
						{% if user_form.username.errors%}
							{{user_form.username|add_class:"alert-danger form-control"}}
							<span class="alert alert-danger input-group-addon">
							<span class="glyphicon glyphicon-remove"></span>
						{% else %}
							{{user_form.username|add_class:"form-control"}}
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-asterisk"></span>
						{%endif%}
						</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_email">Email:</label>
                    <div class="input-group">
                        {% if user_form.email.errors%}
							{{user_form.email|add_class:"alert-danger form-control"}}
							<span class="alert alert-danger input-group-addon">
							<span class="glyphicon glyphicon-remove"></span>
						{% else %}
							{{user_form.email|add_class:"form-control"}}
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-asterisk"></span>
						{%endif%}
						</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <div class="input-group">
                        {% if user_form.password.errors%}
							{{user_form.password|add_class:"alert-danger form-control"}}
							<span class="alert alert-danger input-group-addon">
							<span class="glyphicon glyphicon-remove"></span>
						{% else %}
							{{user_form.password|add_class:"form-control"}}
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-asterisk"></span>
						{%endif%}
						</span>
					</div>
                </div>
                <div class="form-group">
                    <label for="id_website">Website:</label>
                    <div class="input-group">
                        {% if profile_form.website.errors%}
							{{profile_form.website|add_class:"alert-danger form-control"}}
							<span class="alert alert-danger input-group-addon">
							<span class="glyphicon glyphicon-remove"></span>
						{% else %}
							{{profile_form.website|add_class:"form-control"}}
							<span class="input-group-addon">
						{%endif%}
						</span>
                    </div>
                </div>
                <div class="form-group">
                	<label for="id_organization">Choose an organization:</label>
                	<div class="input-group">
                		{% if profile_form.organization.errors%}
                		{{profile_form.organization|add_class:"alert-danger form-control" }}
                		<span class="alert alert-danger input-group-addon">
                			<span class="glyphicon glyphicon-remove"></span>
                			{% else %}
                			{{profile_form.organization|add_class:"form-control" }}
                			<span class="input-group-addon">
                				{%endif%}
                			</span>
                		</div>
                	</div>
				<div class="form-group">
                    <label for="id_picture">Choose a profile picture:</label>
                    <div class="input-group">
                        {% if profile_form.picture.errors%}
							{{profile_form.picture|add_class:"alert-danger form-control" }}
							<span class="alert alert-danger input-group-addon">
							<span class="glyphicon glyphicon-remove"></span>
						{% else %}
							{{profile_form.picture|add_class:"form-control" }}
							<span class="input-group-addon">
						{%endif%}
						</span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Register" class="btn btn-info center-block">
            </div>			
            <!-- Provide a button to click to submit the form.
            <input type="submit" name="submit" value="Register" /> -->
			</fieldset>
		</form>
        {% endif %}
{% endblock %}