<!DOCTYPE html>

{% extends 'base.html' %}
{% load smart_if %}
{% load staticfiles %} <!-- New line -->
 

{% block title %}Query Results{% endblock %}

{% block body_block %}

<style type="text/css">
#button {display:inline-block;margin-right:10px;} 
#message {display:inline-block;}
</style>

        {% if errors == False %}
        <h1>Review: {{review.reviewTitle}}</h1> 
        <h2>Results for Query "{{query}}"</h2></br>
        <form id="SelectAbstract" class="advsec index_portlet" data-dbm="false" method="POST" action="{%url 'docs' %}">
        {% csrf_token %}
        <input type="checkbox" name="queryID" class = "hidden" value="{{query.review}}" checked>
        <div id = "button"><button class="btn btn-default" type="submit">Move selected to Doc. pool</button></div>
        <div id = "message"> - You can always pick up where you left off</div></br></br>
		<div id="page_{{forloop.counter}}" name="results">
			{% if alreadyExists == False %}
			{% for key in results %}
			<div id="result_{{forloop.counter}}" class="displayAbstract">	
			    <div class="id"><b>{{key.items.5.1}}</b></div>			
				<div class="title"><b>{{key.items.0.1}}</b></div>
				<div class="date">{{key.items.4.1}}</div>
				<div class="toggleAuthors" ><i>[Author Information]</i></div>
				<div class="authors" style="display:none">{{key.items.3.1}}</div></br>				
				<input type="checkbox" name="checks[]" value="{{forloop.counter}}"><b>Select Abstract</b>								
				<div class="abstract" >{{key.items.1.1}}</div></br>
			    <br><br>
			</div>
			{% endfor %}
			{% else %}
			{% for key in results %}
			<div id="result_{{forloop.counter}}" class="displayAbstract">
				<div class="id"><b>{{key.ID}}</b></div>
				<div class="title"><b>{{key.Title}}</b></div>
				<div class="date">{{key.Date}}</div>
				<div class="toggleAuthors"><i>[Author Information]</i></div>
				<div class="authors" style="display:none">{{key.Authors}}</div></br>
				{% if key.abstractApproved %}
			    <input type="checkbox" name="checks[]" value="{{forloop.counter}}" checked><b>Select Abstract</b>	
			    {% else %}			
			    <input type="checkbox" name="checks[]" value="{{forloop.counter}}"><b>Select Abstract</b>
			    {% endif %}
				<div class="abstract" >{{key.Abstract}}</div></br>				
				<br><br>
			</div>
			{% endfor %}
			{% endif %}

		</div>
	    </form >


		{% else %}
		{% if resultsFound == False %}
		<h1>No results found for Query "{{query}}"</h1></br>		
		{% else %}
		<h1>Something went wrong :^(</h1></br>
		{% endif %}
		<div id="noResult" class="displayError">
		    <div class="id"><b>{{results}}</b></div>
		</div>
        {% endif %}


{% endblock %}


{%block footer_block %}
	<footer class="footer">
		<div class="container">
         <nav>
		 <ul class="pager">
            <li><a href="#" id="previous">Previous</a></li>
			<span id="tricky">
            </span>
            <li><a href="#" id="next">Next</a></li>
          </ul>
        </nav>
	    </div>
    </footer>
{%endblock%}