
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    padding: 0; 
}
button,
input,
select,
textarea {
    font-family: inherit; 
    font-size: 100%; 
    margin: 0; 
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; 
    vertical-align: top; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.grid{ min-width:800px; max-width:1200px; width:100%; clear:both; margin:0 auto; text-align:left;overflow:hidden }
.col { margin-right: 1%; float: left; background-color: #fff; overflow:hidden; }
.last { *zoom:1; *margin-right:0; _margin-right:-6px;  }
.col.last {float:right;}
.one_col { width: 7.3333%; }
.two_col { width: 15.6664%; }
.three_col { width: 23.9999%; }
.four_col { width: 32.3333%; }
.five_col { width: 40.6666%; }
.six_col { width: 48.9999% }
.seven_col { width: 57.3333%; }
.eight_col { width: 65.6666%; }
.nine_col { width: 73.9999%; }
.ten_col { width: 82.3333%; }
.eleven_col { width: 90.6666%; }
.twelve_col { width: 98.9999%; }
@media screen and (max-width: 1200px) {
	body > .grid > .twelve_col { width: 100%; }
}
body{font:62.5%/1.3846 arial,helvetica,clean,sans-serif;background-color:#ccc;margin:0}
.grid{font-size: 1.3em}
img{border:0}
abbr,acronym{cursor:help;border-bottom:1px dotted #000;}
blockquote{margin:1.3846em 1em;}
p,table,pre,fieldset,dl{margin: 0.6923em 0;}
ol,ul{margin: 0.6923em 1em 0.6923em inherit}
dl dd{margin-left:1em;}
table{border-collapse:collapse;margin:1.3846em 0;}
thead{border-bottom:1px solid #eee;}
tfoot{border-top:1px solid #eee;}
th{text-align:center;background-color:#f0f0f0;}
th,td{padding:0.2em;border:1px solid #ddd;}
caption{margin-bottom:.5em;text-align:center;}
fieldset {border: 0;}
button{cursor:pointer;}
input,button,textarea{margin:2px;}
input[type="checkbox"] {margin: 3px 3px 3px 4px;}
textarea {font-family: monospace; font-size: 1.2296em; *font-size:1em; vertical-align:baseline;}
h1,.h1{font-size: 1.3846em; line-height:1.5; margin:1em 0 .5em; } 
h2,.h2{font-size: 1.2307em; line-height:1.125; margin:1.125em 0 .5625em;} 
h3,.h3{font-size: 1.0769em; line-height:1.2857; margin:1.2856em 0 .6428em; } 
h4,h5,h6,h3.inline{font-size: 1em; margin:1.3846em 0 .6923em; } 
h5,.h5{font-style:italic;font-weight:normal;}
h6, .h6 {font-weight: normal;}
h4,.h4{color:#59331f;}
h3,.h3{color:#724128;}
h2,.h2{color:#985735;}
h1,.h1{color:#000;}
h3.inline,h4.inline,h5.inline,h6.inline{display:inline;float:left;margin:0 0 -0.125em;padding-right:.3em}
.whole_rhythm {margin: 1.3846em 0} 
.half_rhythm {margin: .6923em 0} 
.no_top_margin{margin-top:0}
.no_bottom_margin{margin-bottom:0}
.no_margin{margin:0}
.content a{color:#2f4a8b}
.content a:hover,.content a:active{color:#985735}
.content a:visited{color:#642a8f}
.inline_list,.inline_list_right{list-style-type:none;margin:0;padding:0}
.inline_list li{display:inline;margin-right:.3em}     
.inline_list_right li{display:inline;margin-left:.4em;}
.column_list{list-style-type:none;margin:0;padding:0}
.column_list li{float:left;width:8em}
.offscreen{text-indent:-9999px}
.offscreen_noflow{float:left;text-indent:-9999em;_display:block;margin:0;padding:0;height:0;}
.left{float:left}
.right{float:right}
.align_right{text-align:right}
.hidden{display:none}
.nowrap{white-space:nowrap}
.noborder{border:0}
body .no_max_width{max-width:none;overflow:auto}
.inline_block{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}
.small,sup,sub{font-size:.8461em; line-height: 1.6363em;} 
.small sup,.small sub{font-size:1em}
sup,sub{position:relative;vertical-align:baseline;}
sup{top:-.5em}
sub{top:.25em}
.shadow {-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3)}
.iconblock{overflow:hidden}
.icnblk_img{text-decoration:none;float:left;margin-right:1em;cursor:pointer}
.icnblk_img_right { float: right; margin-right: 0; margin-left: 1em;}
.icnblk_cntnt{display:table-cell;vertical-align:top;*zoom:1}
.icnblk_cntnt h1,.icnblk_cntnt h2,.icnblk_cntnt h3,.icnblk_cntnt h4{margin:0 0 .6923em}
.tgt_light{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2846531) no-repeat 100% -1%;padding-right:17px;margin-right: 3px}
.tgt_light:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2846531) no-repeat 100% 12%}
.tgt_dark{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2846531) no-repeat 100% 43.5%;padding-right:17px;margin-right:3px}
.tgt_dark:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2846531) no-repeat 100% 25%}
.tgt_light_up{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2846531) no-repeat 100% 56%;padding-right:17px;margin-right:3px}
.tgt_light_up:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2846531) no-repeat 100% 69%}
.tgt_dark_up{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2846531) no-repeat 100% 100%;padding-right:17px;margin-right:3px}
.tgt_dark_up:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2846531) no-repeat 100% 83%}
.tabPopper{top:0;left:0;display:none;background-color:#fff;padding:.2em;margin-top:3px;*padding-bottom:1em;box-shadow:.4em .4em .5em #999;-webkit-box-shadow:.4em .4em .5em #999;-moz-box-shadow:.4em .4em .5em #999;border:1px solid #ccc;border-bottom:1px solid #666\0;border-right:1px solid #666\0;}
.tabPopperCover{position:absolute;top:0px;left:0px;height:1px;background-color:#FFA600;overflow:hidden}
.tabPopper fieldset{border:0;padding:0;margin:4px 10px}
.tabPopper fieldset ul,.tabPopper fieldset dl{border-top:1px solid #ddd;padding-top:3px}
.tabPopper fieldset dl{margin:0 0 6px 0}
.tabPopper fieldset input{position:relative;top:1px}
#maincontent .content{ padding:0 0 2em 1.231em; }
#maincontent .content .content { padding-left: 0; }
.title_and_pager{margin:.9em 0 1.3em}
.results_settings,.title_and_pager,.rprt{zoom:1}
.container { background-color: transparent; }
.container{ zoom:1; }
.content { background-color: white; padding: .8em 1em 2em 1.333em; }
.supplemental { background-color: transparent; width: 0; }
.container { width: 100%; margin-right: 0; float: none; }
.content {  margin-right: 0; }
.supplemental { float: none; }
.nlm{font-size:.692em;line-height:1.2;margin-top:.2em}
.nlm a{color:#555}
.pmlogo{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2318832) no-repeat scroll left top;display:block;height:32px;width:110px;text-indent:-9999px}
noscript p.nojs {
	background: #ffb url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/67327) no-repeat 5px center;
	padding: 4px;
	padding-left: 28px;
	margin:0;	
}
#EntrezForm .container{font-size:1em}
.jig-ncbibutton{padding:0;border-radius:6px}
.jig-ncbibutton span.ui-button-text{padding:.3em .8em}
.adv_search_content,.messagearea{margin:0 auto;width:81%;width:100%\9;max-width:950px\9}
.adsearch_box{margin-top:3em}
.advsec{margin:2.4615em 0}
.history{border-top: 1px solid #ddd;padding-top:2.4615em}
.index_message { margin: 0.4em auto 0.3em 17.5em; width:54.7% }
.list_term_text{width:55%;width:53%\9}
.list_term_text:focus{-moz-box-shadow:0 0 .3em rgba(211,186,44,.8);-webkit-box-shadow:0 0 .3em rgba(211,186,44,.8);box-shadow:0 0 .3em rgba(211,186,44,.8)}
.index_field{width:12em;}
@media all and (min-width:1200px){
    .adv_search_content{width:950px}}
@media all and (max-width:1060px){.list_term_text{width:45% !important}}
@media all and (max-width:900px){
    body{min-width:30em !important}
    .list_term_text{width:40% !important}
    .adv_search_content{width:100%}}
@media all and (max-width:750px){
    #TermList{margin-left:2em !important}
    .index_field{width:6em !important}}
@media all and (max-width:550px){
    .list_term_text{width:35% !important}
    #HistoryView tr > td:last-of-type,#HistoryView tr > th:last-of-type{display:none}}
.input_wrap{display:inline;white-space:nowrap}
th{font-weight:normal}
.search_form textarea{font-size:1.5145em;*font-size:1.35em;*height:4em;width:100%;background-color:#f1f1f1;border:1px solid #bbb;color:#555}
@media screen and (-webkit-min-device-pixel-ratio:0){.search_form textarea{font-size:1.05em}}
.built_search{background-color:#fafafa;border:1px solid #ccc;padding:.2em;overflow:auto;font-size:1.0769em;color:#666}
caption{text-align:left}
.query{width:67%}
h3.inline{margin-right:1em}
.head{overflow:hidden;*position:relative}
.head .links{float:right;*position:absolute;*right:0}
.sb_line_add{margin-left:17.5em}
.sb_line{margin:.3em 0;clear:left}
.sb_line select,.sb_line input{margin-right:.3em}
#HistoryView{width:100%}
.line_ico{width:14px;height:15px;text-indent:-9999em;display:inline-block;margin:0 2px 0 2px;padding:3px 2px;position:relative;top:1px}
.add_line{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/3317099) no-repeat 2px 50%}
.rem_line{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/3317099) no-repeat -16px 50%}
.show_index{margin-left:5px}
.extra_space{margin-right:24px}
.hint{color:#666}
#TermList{float:left;width:45%;margin:0 .8em 1em 17.6em}
#TermList select{width:100%}
.phn a{display:block;margin-top:.5em}
#index_refresh{margin-top:7.8em}
.clear{clear:both}
.dateinputtext label{margin-right:0.1em}
.blurred{color:#999}
.dateinputtext .hint{margin-left:1em}}
p.none{display:none}
p.error{background-color:#fbb;padding:.2em}
.adv_youtube{float:right;background:url('//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/2317562') no-repeat left;padding-left:55px;margin:1.125em 5% auto auto;text-decoration: none;}
.adv_youtube_title h2{float:left;}
#LimitsMsg .limits_links { margin-left: 1em; font-size: 0.846em; white-space: nowrap; }
div.success_msg, div.warn_msg, div.error_msg { padding: .4em; margin: .5em; color: black; font-family: helvetica, arial, verdana, sans-serif; }
div.success_msg img, div.warn_msg img, div.error_msg img { position: relative; top: .15em; margin-left: .2em; }
div.success_msg { border: 1px solid #6c6; background-color: #cfc; }
div.warn_msg { border: 1px solid #e3d21c; background-color: #ffffef; }
div.error_msg { border: 1px solid #f88; background-color: #fdd; }
div.messagearea {
    margin:0;
    padding: 0;
    clear:both;
}
div.browsername {
    background-color: #FFF;
    padding-left: 0.5em;
    }
#messagearea.empty {
    border: none;
    clear: both;
}
div#messagearea ul.messages li.hi_warn { margin: 2.5em 0; }
ul.messages {
    font-family: arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
ul.messages li {
    margin: 0.22em 0 0.22em;
    padding: 0.25em;
    background: transparent no-repeat 0.5em 0.3em;
    position: relative;
}
ul.messages li .icon, ul.messages li.icon{ 
    background: url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/3797312) no-repeat; 
    display: block; 
    margin-right: 4px;
    padding-left: 16px;
}
ul.messages li span.icon {
    background: #fff;
    padding-left: .5em;
    padding-top: .35em;
    margin-top: -.5em;
}
ul.messages li.success .icon, ul.messages li.success.icon {
    background-position: 0 0;
}
ul.messages li.warn .icon, ul.messages li.hi_warn .icon, ul.messages li.warn.icon, ul.messages li.hi_warn.icon {
    background-position: -17px 0;
}
ul.messages li.suggest .icon, ul.messages li.suggest.icon {
    background-position: -34px 0;
}
ul.messages li.info .icon, ul.messages li.info.icon {
    background-position: -51px 0;
}
ul.messages li.error .icon, ul.messages li.error.icon {
    background-position: -68px 0;
}
ul.messages li.hi_warn em.detail{
    font-weight: normal;
    font-style: normal;
    padding-left: 1.7em;
}
ul.messages li.hi_warn {
    font-weight: bold;
}
.success, .error, .warn, .info, .suggest, .hi_warn {
    background-image: url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/3797312);
    padding-left: 17px;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom:.5em
}
.success {
    background-position: 0 0;
}
.warn {
    background-position: -17px 0;
}
.hi_warn {
    background-position: -17px 0;
    font-weight: bold;
}
.suggest {
    background-position: -34px 0;
}
.info {
    background-position: -51px 0;
}
.error {
    background-position: -68px 0;
}
.portlet { border-top: .4em solid #97b0c8; padding-top: .461em; margin: .769em 0 2.154em 0; overflow: visible; line-height: 1.231em; zoom:1; }
.portlet h1, .portlet h2, .portlet h3, .portlet h4, .portlet h5, .portlet h6 {color: #985735; font-weight: bold; display: inline;  }
.portlet .whatsthis {color: #14376c; white-space: nowrap; margin-left: .3em;}
.portlet ul { margin: 0; padding: 0; }
.portlet ul li { list-style-type: none; margin-top: .461em; border-bottom: 1px dotted #CCC; padding-bottom: 1px; position: relative; overflow: visible; zoom:1;  }
.portlet .portlet_list li { border-bottom: 0; }
.portlet ul li a { font-weight: normal; color: #14376c; text-decoration: none; }
.portlet ul li a:hover,.portlet ul li a:active{border-bottom:0}
.portlet ul a { _display: block; _float: left; _clear: left; }
.portlet .seemore { display: block; text-align: right; color: #14376c; font-size: .923em; text-decoration: none; margin-top: .8em; }
.portlet .portlet_section_header { text-decoration: none; font-weight: bold; color: #000; border-bottom:0 } 
.portlet li.two_line { height: 2.461em; height\0: 2.361em; overflow: hidden; }
.portlet .two_line a { max-height: 2.453em; overflow: hidden; display: block; }
.portlet .long_info, .portlet p, .portlet .two_line .source, .portlet .one_line_source, .portlet_content .image .desc, .portlet ul li .desc a { color: #777;}
.portlet .two_line .source, .portlet .one_line_source { white-space: nowrap; position: absolute; right: 0; background-color: white; padding-left: .3em; }
.portlet .two_line .source { top: 1.231em; }
.portlet .two_line .tertiary { font-size: .769em; color: #777; position: absolute; right:0; background-color: white; padding: .1em 0 0 .3em; top: 1.6em; top\0: 1.5em; }
.portlet .portlet_content p { margin: .8em 0; }
.portlet .buttonwrap { float: left; position: relative; top: -.1em; overflow: visible; }
.portlet .invert { color: #fff; background-color: #14376c; padding: 0 .2em; }
.portlet .tertiary { color: #777; text-align: right; line-height: 1.4em; position: relative; top: .1em; }
.portlet_content { position: relative; margin: 0; }
.portlet_content textarea { margin: 0 0 .9em; }
.portlet_content img { margin: .3em 1.4em .7em 0;}
.portlet_content .image { display: block; overflow: auto; overflow:hidden\0; }
.portlet_content .image .img_link { float: left; }
.portlet_shutter { background: url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/32197) no-repeat scroll left top;  display: block; float: right; width: 15px; height: 15px; position: absolute; top: -.2em; margin-left: .6em; right: 0; }
.shutter_closed { background-position: left bottom; }
.portlet .related li { border-bottom: 0; }
.portlet .right { text-align: right; }
.ra_qry, .ra_rcd { padding-left: 2em; }
.ra_qry { background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/32182) no-repeat scroll 0 1px; }
.ra_rcd { background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4089621/img/32183) no-repeat scroll 0 1px; }
.sensor {border:1px solid #97B0C8;background-color:#FEFEFF;padding:0;margin:0 0 1em 0}
.sensor_inner {border:3px solid #D7E2EC;background-color:#FEFEFF;padding:0 1em 1em;margin:0}
.sensor .sensor_head { margin-bottom: 0; position: relative}
.sensor .sensor_head h3 { font-weight: normal; }
.sensor h3,.sensor h4,.sensor h5,.sensor h6{margin:.6923em 0 0}
.sensor .sensor_content{margin-bottom:1.1em}
.sensor p{margin:0}
.sensor .portlet_shutter { display: none; }
.no_p_margins{margin:0}
.portlet_head{margin-bottom:.461em;position: relative}
.portlet_title,.sensor_title{margin-right: 2em}
.portlet_title h3 { line-height: inherit; }