<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Systematic Review - {% block title %}Search for relevant documents!{% endblock %}</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="{% static "sidebar.css" %}" rel="stylesheet">
    <link href="{% static "profile_page.css" %}" rel="stylesheet">
    <link href="{% static "docs.css" %}" rel="stylesheet">	
	<link href="{% static "results.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="{% static "js/jquery-1.12.2.js" %}"></script>
	<script src="{% static "js/jquery_based_script.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery_about.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.bpopup.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-popup.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery-loading.js" %}"></script>
	

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="/sysrev_app/"><img src="{%static "images/s-logo.png" %}" alt="Website logo" width="42" height="30" border="0"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}?next=/sysrev_app/">Logout</a></li>
                        <li><a href="{% url 'profile_page' %}">Profile Page</a></li>
                    {% else %}
                        <li><a href="/sysrev_app/register/">Register Here</a><!--<a href="{#% url 'registration_register' %}">Register Here</a>--></li>
                        <li><a href="/sysrev_app/login/"> <!--<a href="{#% url 'auth_login' %}">-->Login</a></li>
                    {% endif %}
                                <li><a href="{% url 'about' %}">About</a></li>

              </ul>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div id="text">
                {% block side_block %}
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="{% url 'create_review' %}">Add New Review</a>
                </li>
                <li>
                    <a href="{% url 'edit_review' %}">Edit Reviews</a>
                </li>
                <li>
                    <a href="{% url 'delete_review' %}">Delete Reviews</a>
                </li>
            </ul>
                {% endblock %}
            </div>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div>
                {% block body_block %}{% endblock %}
            </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    {% block footer_block%}

	{% endblock%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>